<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12 mt-3">
            <!-- Filter starts -->
            <div class="users-list-filter px-2">
                <form [formGroup]="searchForm">
                    <div class="row border rounded py-2 mb-2 mx-n2">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-status">Status</label>
                            <fieldset class="form-group">
                                <select
                                    id="users-list-status"
                                    class="form-control"
                                    formControlName="listStatus"
                                >
                                    <option value="todos">Todos</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-created-by"
                                >Creado por</label
                            >
                            <fieldset class="form-group">
                                <select
                                    id="users-list-created-by"
                                    class="form-control"
                                    formControlName="createdBy"
                                >
                                    <option value="todos">Todos</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-assignedto"
                                >Asignado a</label
                            >
                            <fieldset class="form-group">
                                <select
                                    id="users-list-assignedto"
                                    class="form-control"
                                    formControlName="assignedTo"
                                >
                                    <option value="todos">Todos</option>
                                </select>
                            </fieldset>
                        </div>

                        <div
                            class="col-12 col-sm-6 col-lg-3 d-flex align-items-center"
                        >
                            <button
                                type="reset"
                                class="btn btn-primary btn-block users-list-clear glow mb-0"
                            >
                                Borrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Filter ends -->
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <!-- ngx-datatable-filter -->
                        <fieldset class="form-group">
                            <label
                                >Mostrar
                                <select
                                    name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                >
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entradas</label
                            >
                            <label for="ngx-filter-ref" class="float-right"
                                >Buscar:
                                <input
                                    id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1"
                                    type="text"
                                />
                            </label>
                        </fieldset>
                        <ngx-datatable
                            class="bootstrap core-bootstrap"
                            [columnMode]="ColumnMode.force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [scrollbarH]="true"
                            [rows]="rows"
                            [rowHeight]="'auto'"
                            [reorderable]="true"
                        >
                            <ngx-datatable-column
                                name="CORPORATIVO"
                                headerClass="text-center"
                                [width]="180"
                            >
                                <ng-template
                                    let-row="row"
                                    ngx-datatable-cell-template
                                >
                                    <div class="d-flex align-items-center">
                                        <img
                                            class="d-inline-block mr-2"
                                            src="{{ row.logoURL }}"
                                            height="35"
                                            alt=""
                                        />
                                        <p class="d-inline-block mb-0">
                                            <a
                                                [routerLink]="[
                                                    'detalle',
                                                    row.id
                                                ]"
                                            >
                                                {{ row.nombreCorto }}
                                            </a>
                                            <span class="d-block text-muted">
                                                {{ row.nombreCompleto }}
                                            </span>
                                        </p>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                name="URL"
                                prop="url"
                                headerClass="text-center"
                                [width]="120"
                                cellClass="d-flex align-items-center justify-content-center"
                            >
                                <ng-template
                                    let-row="row"
                                    let-value="value"
                                    ngx-datatable-cell-template
                                >
                                    <a href="value">{{ value }}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                name="INCORPORACIÓN"
                                prop="incorporacion"
                                headerClass="text-center"
                                [width]="80"
                                cellClass="d-flex align-items-center justify-content-center"
                            >
                                <ng-template
                                    let-row="row"
                                    let-value="value"
                                    ngx-datatable-cell-template
                                >
                                    {{ value | date: "dd-MMM-yyyy" }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                name="CREADO EL"
                                prop="creadoEn"
                                headerClass="text-center"
                                [width]="70"
                                cellClass="d-flex align-items-center justify-content-center"
                            >
                                <ng-template
                                    let-row="row"
                                    let-value="value"
                                    ngx-datatable-cell-template
                                >
                                    <p class="mb-0">
                                        {{ value | date: "dd-MMM-yyyy" }}
                                    </p>
                                    <p class="mb-0 text-muted">
                                        por: {{ row.creadoPor }}
                                    </p>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                name="ASIGNADO A"
                                prop="asignadoA"
                                headerClass="text-center"
                                [width]="70"
                                cellClass="d-flex align-items-center justify-content-center"
                            ></ngx-datatable-column>
                            <ngx-datatable-column
                                name="STATUS"
                                prop="status"
                                headerClass="text-center"
                                [width]="70"
                                cellClass="d-flex align-items-center justify-content-center"
                            >
                                <ng-template
                                    let-status="value"
                                    ngx-datatable-cell-template
                                >
                                    <div
                                        class="badge"
                                        [ngClass]="{
                                            'bg-light-success': status == 1
                                        }"
                                    >
                                        {{
                                            status == 1 ? "Activo" : "Inactivo"
                                        }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                name="ACCIONES"
                                prop="acciones"
                                headerClass="text-center"
                                [width]="120"
                                cellClass="d-flex align-items-center justify-content-center"
                            >
                                <ng-template
                                    let-row="row"
                                    ngx-datatable-cell-template
                                >
                                    <a
                                        [routerLink]="['detalle', row.id]"
                                        class="mr-2 text-info"
                                        ><span><i class="ft-eye"></i></span
                                    ></a>
                                    <span><i class="ft-check-circle"></i></span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                        <!-- ngx-datatable-filter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Filter Datatables -->
